/* すべてのタグに対して指定(CSS Reset) */
/* * { */
  /* display: flex; */
  /* box-sizing:border-box; */
  /* margin:0; */
  /* padding:0; */
/* } */
* {
  /* display: flex; */
  box-sizing:border-box;
  --hl: 0;
  --nothl: calc(1 - var(--hl));
  margin: 0;
  padding:0;
  font: inherit;
}
html, body{
  overflow: hidden;
}
@media (orientation: landscape) {  /* 横向き */
  .parent {
    display: flex;
    flex-wrap: wrap;
  }
  .child {
    flex-grow: 1;
  }
  .child:last-child {
    width: 100%;
  }
  .video_pane {
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    /* flex-grow: 1; */
    width: 80vw;
    height: 50vh;
    /* border: 3px; */
    /* max-height: 400px; */
    background-color: #505050;
    /* background-image: url(../static/video_demo.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    opacity: 1;
  }
  .video_container {
    display: flex;
    /* flex-grow: 1; */
    width:	50%;
    height: 75%;
    border: solid 3px gray;
    /* opacity: 1; */
    object-fit: cover;
  }

  .file_control_pane {
    /* position: relative; */
    width: 18vw;
    /* height: 10vh; */
    /* z-index: 10; */
  }
  .player_control_pane {
    height: 18vh;
    /* z-index: 10; */
  }
  .file_container {
    display: inline-block;
    width: calc(95% / 2);
  }
  .player_container {
    display: inline-block;
    width: calc(95% / 5);
  }
}
@media (orientation: portrait) { /* 縦向き */
  .parent {
    display: flex;
    flex-wrap: wrap;
  }
  .child {
    flex-grow: 1;
  }
  .child:last-child {
    width: 100%;
  }
  .video_pane {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    /* background-size: cover; */
    opacity: 1;
  }
  .video_container {
    display: flex;
    width:	90%;
    height: auto;
  }
  .file_control_pane {
    width: 18vw;
    height: 20vh;
  }
  .player_control_pane {
    width: 18vw;
    height: 20vh;
    /* z-index: 10; */
  }
  .file_container {
    display: inline-block;
    width: calc(90% / 2);
  }
  .player_container {
    display: inline-block;
    width: calc(90% / 5);
  }
}

.arrow-button {
  border: 0px;
  align-items: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #efefef;
  border-radius: 100%;
  opacity: 0.8;
  outline: none;
  box-shadow: 2px 2px 4px 4px #888888;
}
.arrow-button:active {
  box-shadow: 0px 0px 0px 0px #888888;
}
.arrow-color {
  color: black;
}
.rangeA-B-button {
  border: 0px;
  align-items: center;
  font-size: 7px;
  display: flex;
  justify-content: center;
  width: 27px;
  height: 27px;
  background: #efefef;
  border-radius: 100%;
  opacity: 0.8;
  outline: none;
  box-shadow: 2px 2px 4px 4px #888888;
}

.rec-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  opacity: 1;
  outline: none;
  box-shadow: 2px 2px 4px 4px #888888;
}
.rec-button:active {
  box-shadow: 0px 0px 0px 0px #888888;
}

.rec-image {
  position: absolute;
  top: 0;
  right: 0;
}
.on {
  opacity: 1;
}
.off {
  opacity: 0; /* 完全に透明 */
}


.middle {
	position: relative;
  padding-left: 1%;
  padding-right: 1%;
	width: 50%;
}

.slider {
	position: relative;
	z-index: 1;
	height: 5px;
	margin: 0 18px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 3px;
	background-color: #bdbcbc;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 7%;
	right: 7%;
	top: 0;
	bottom: 0;
	border-radius: 3px;
	background-color: #0000ff;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	top: 3px;
	/* bottom: 0; */
	background-color: #0000ff;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 7%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 7%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}